<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:cache="http://www.springframework.org/schema/cache" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
    xmlns:jee="http://www.springframework.org/schema/jee" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xmlns:aop="http://www.springframework.org/schema/aop" xmlns:repository="http://www.springframework.org/schema/data/repository"
    xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
    default-lazy-init="false">

    <description>Spring公共配置 </description>

    <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
    <context:component-scan base-package="com.fengshang.xiaodianbao" use-default-filters="false" scoped-proxy="targetClass">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
    </context:component-scan>
   
    <!-- statdata  begin -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <property name="dataSource">
          <ref bean="dataSource"/>
        </property>  
        <!-- 加载Mybatis全局配置文件 
        <property name="configLocation" value="classpath:mapper/mybatis_config.xml"/>
        -->
        <property name="plugins">
          <array>
            <bean class="com.github.miemiedev.mybatis.paginator.OffsetLimitInterceptor">
              <property name="properties">
                <value>dialectClass=com.github.miemiedev.mybatis.paginator.dialect.MySQLDialect</value>
              </property>
            </bean>
            <bean class="com.xyz.tools.db.aop.ModifyInterceptor">
              <property name="properties">
                <value>msgTables=industry;</value>
              </property>
            </bean>
            <bean class="com.xyz.tools.db.aop.QueryInterceptor" />
          </array>
        </property>
        <property name="mapperLocations"  
            value="classpath*:mapper/*/*Mapper.xml" />  
   </bean> 
    
   <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">    
        <constructor-arg index="0" ref="sqlSessionFactory" />    
   </bean>    
      
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.fengshang.xiaodianbao" />  
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/> 
        <property name="markerInterface" value="com.xyz.tools.db.dao.IBaseDao"/>
    </bean>
   <!-- statdata end -->
   
    <!-- 事务管理器  --> 
	 <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
    <bean id="transactionManager"  
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">  
        <property name="dataSource" ref="dataSource" />  
    </bean> 

</beans>