<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="false">

    <property name="logBaseDir" value="./logs" />
    <property name="logName" value="web-h5" />
    <conversionRule conversionWord="ip" converterClass="com.ujigu.secure.common.log.IPConverter" />
    <conversionRule conversionWord="tid" converterClass="com.ujigu.secure.common.log.TraceIdConverter" />
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<Encoding>UTF-8</Encoding>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<param name="Pattern"
				value="%d{yyyy-MM-dd HH:mm:ss} %contextName %p [%logger{36}] %msg%n" />
		</layout>
	</appender>
	
	<!-- 系统日志文件 -->
	<appender name="SYS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logBaseDir}/sys/${logName}_%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %tid %p %c:%L %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- 性能日志文件 -->
	<appender name="XN_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logBaseDir}/xn/${logName}_%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyyMMddHHmmss.SSS} %tid %ip %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- 性能日志文件 -->
	<appender name="OPER_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logBaseDir}/oper/${logName}_%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %tid %ip %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="API_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logBaseDir}/api/${logName}_%d{yyyyMMdd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %tid %ip %m%n</pattern>
		</encoder>
	</appender>

    <logger name="apiLogger" level="info" additivity="false">
      <appender-ref ref="API_LOG" />
    </logger>

    <logger name="xnLogger" level="info" additivity="false">
      <appender-ref ref="XN_LOG" />
    </logger>
    
    <logger name="operLogger" level="info" additivity="false">
      <appender-ref ref="OPER_LOG" />
    </logger>
    
	<logger name="com.ujigu.secure" level="debug" additivity="false">
	  <appender-ref ref="STDOUT" />
	  <appender-ref ref="SYS_LOG" />
	</logger>
	
	<!-- root logger -->
	<root level="ERROR">
	    <appender-ref ref="STDOUT" />
	    <appender-ref ref="SYS_LOG" />
	</root>
	
</configuration>
