<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengshang.xiaodianbao.wallet.dao.CashLogDao" >
  <resultMap id="BaseResultMap" type="com.fengshang.xiaodianbao.wallet.entity.CashLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="wx_uid" property="wxUid" jdbcType="INTEGER" />
    <result column="cash_amount" property="cashAmount" jdbcType="DOUBLE" />
    <result column="pre_amount" property="preAmount" jdbcType="DOUBLE" />
    <result column="after_amount" property="afterAmount" jdbcType="DOUBLE" />
    <result column="last_cash_left_amount" property="lastCashLeftAmount" jdbcType="DOUBLE" />
    <result column="third_trade_id" property="thirdTradeId" jdbcType="VARCHAR" />
    <result column="third_payment_no" property="thirdPaymentNo" jdbcType="VARCHAR" />
    <result column="third_result_code" property="thirdResultCode" jdbcType="VARCHAR" />
    <result column="snapshot" property="snapshot" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_uptime" property="lastUptime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="BaseColumnList" >
    id, wx_uid, cash_amount, pre_amount, after_amount, last_cash_left_amount, third_trade_id, 
    third_payment_no, third_result_code, snapshot, status, create_time, last_uptime
  </sql>
  <select id="findByPK" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="BaseColumnList" />
    from cash_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer" >
    delete from cash_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengshang.xiaodianbao.wallet.entity.CashLog" >
    insert into cash_log (id, wx_uid, cash_amount, 
      pre_amount, after_amount, last_cash_left_amount, 
      third_trade_id, third_payment_no, third_result_code, 
      snapshot, status, create_time, 
      last_uptime)
    values (#{id,jdbcType=INTEGER}, #{wxUid,jdbcType=INTEGER}, #{cashAmount,jdbcType=DOUBLE}, 
      #{preAmount,jdbcType=DOUBLE}, #{afterAmount,jdbcType=DOUBLE}, #{lastCashLeftAmount,jdbcType=DOUBLE}, 
      #{thirdTradeId,jdbcType=VARCHAR}, #{thirdPaymentNo,jdbcType=VARCHAR}, #{thirdResultCode,jdbcType=VARCHAR}, 
      #{snapshot,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUptime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPK" parameterType="com.fengshang.xiaodianbao.wallet.entity.CashLog" >
    update cash_log
    <set >
      <if test="wxUid != null" >
        wx_uid = #{wxUid,jdbcType=INTEGER},
      </if>
      <if test="cashAmount != null" >
        cash_amount = #{cashAmount,jdbcType=DOUBLE},
      </if>
      <if test="preAmount != null" >
        pre_amount = #{preAmount,jdbcType=DOUBLE},
      </if>
      <if test="afterAmount != null" >
        after_amount = #{afterAmount,jdbcType=DOUBLE},
      </if>
      <if test="lastCashLeftAmount != null" >
        last_cash_left_amount = #{lastCashLeftAmount,jdbcType=DOUBLE},
      </if>
      <if test="thirdTradeId != null" >
        third_trade_id = #{thirdTradeId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPaymentNo != null" >
        third_payment_no = #{thirdPaymentNo,jdbcType=VARCHAR},
      </if>
      <if test="thirdResultCode != null" >
        third_result_code = #{thirdResultCode,jdbcType=VARCHAR},
      </if>
      <if test="snapshot != null" >
        snapshot = #{snapshot,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptime != null" >
        last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="id" parameterType="com.fengshang.xiaodianbao.wallet.entity.CashLog" >
    insert into cash_log (id, wx_uid, cash_amount, 
      pre_amount, after_amount, last_cash_left_amount, 
      third_trade_id, third_payment_no, third_result_code, 
      snapshot, status, create_time, 
      last_uptime)
    values (#{id,jdbcType=INTEGER}, #{wxUid,jdbcType=INTEGER}, #{cashAmount,jdbcType=DOUBLE}, 
      #{preAmount,jdbcType=DOUBLE}, #{afterAmount,jdbcType=DOUBLE}, #{lastCashLeftAmount,jdbcType=DOUBLE}, 
      #{thirdTradeId,jdbcType=VARCHAR}, #{thirdPaymentNo,jdbcType=VARCHAR}, #{thirdResultCode,jdbcType=VARCHAR}, 
      #{snapshot,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUptime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into cash_log
		(id,wx_uid,cash_amount,pre_amount,after_amount,last_cash_left_amount,third_trade_id,third_payment_no,third_result_code,snapshot,status,create_time,last_uptime)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.id,jdbcType=INTEGER},#{item.wxUid,jdbcType=INTEGER},#{item.cashAmount,jdbcType=DOUBLE},#{item.preAmount,jdbcType=DOUBLE},#{item.afterAmount,jdbcType=DOUBLE},#{item.lastCashLeftAmount,jdbcType=DOUBLE},#{item.thirdTradeId,jdbcType=VARCHAR},#{item.thirdPaymentNo,jdbcType=VARCHAR},#{item.thirdResultCode,jdbcType=VARCHAR},#{item.snapshot,jdbcType=VARCHAR},#{item.status,jdbcType=CHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.lastUptime,jdbcType=TIMESTAMP})
	</foreach>
  </insert>
  <delete id="batchDel" >
    		delete from cash_log
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </delete>
  <update id="updateStatus" >
    		update cash_log
			set ${statusColName} = #{delStatusVal, jdbcType=INTEGER}
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </update>
  <select id="findByPks" resultMap="BaseResultMap" >
    		select 
			<include refid="BaseColumnList" />
			from cash_log
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")"> 
					#{item,jdbcType=INTEGER}
				</foreach>
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
		<include refid="BaseColumnList"/>
	from cash_log
	<where>
		<trim suffixOverrides="and" >
			<if test="id != null and id > 0" >
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="wxUid != null and wxUid > 0" >
				and wx_uid = #{wxUid,jdbcType=INTEGER}
			</if>
			<if test="cashAmount != null" >
				and cash_amount = #{cashAmount,jdbcType=DOUBLE}
			</if>
			<if test="preAmount != null" >
				and pre_amount = #{preAmount,jdbcType=DOUBLE}
			</if>
			<if test="afterAmount != null" >
				and after_amount = #{afterAmount,jdbcType=DOUBLE}
			</if>
			<if test="lastCashLeftAmount != null" >
				and last_cash_left_amount = #{lastCashLeftAmount,jdbcType=DOUBLE}
			</if>
			<if test="thirdTradeId != null and thirdTradeId != ''" >
				and third_trade_id = #{thirdTradeId,jdbcType=VARCHAR}
			</if>
			<if test="thirdPaymentNo != null and thirdPaymentNo != ''" >
				and third_payment_no = #{thirdPaymentNo,jdbcType=VARCHAR}
			</if>
			<if test="thirdResultCode != null and thirdResultCode != ''" >
				and third_result_code = #{thirdResultCode,jdbcType=VARCHAR}
			</if>
			<if test="snapshot != null and snapshot != ''" >
				and snapshot = #{snapshot,jdbcType=VARCHAR}
			</if>
			<if test="status != null and status != ''" >
				and status = #{status,jdbcType=CHAR}
			</if>
			<!--<if test="queryParam != null">
				<if test="queryParam.startDate != null and queryParam.startDate != '' and queryParam.endDate != null and queryParam.endDate != ''">
					and create_time between #{queryParam.startDate, jdbcType=VARCHAR} and #{queryParam.endDate, jdbcType=VARCHAR}
				</if>
				<if test="queryParam.keyword != null and queryParam.keyword != ''">
					and (name like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') or other_col like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') )
				</if>
			</if>-->
		</trim>
	</where>
  </select>
</mapper>