<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengshang.xiaodianbao.base.dao.DistrictDao" >
  <resultMap id="BaseResultMap" type="com.fengshang.xiaodianbao.base.entity.District" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="city_level" property="cityLevel" jdbcType="CHAR" />
    <result column="zone_num" property="zoneNum" jdbcType="VARCHAR" />
    <result column="post_code" property="postCode" jdbcType="CHAR" />
    <result column="xz_code" property="xzCode" jdbcType="CHAR" />
    <result column="pinyin" property="pinyin" jdbcType="VARCHAR" />
    <result column="quanpin" property="quanpin" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="BaseColumnList" >
    id, name, short_name, parent_id, city_level, zone_num, post_code, xz_code, pinyin, 
    quanpin, create_time
  </sql>
  <select id="findByPK" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="BaseColumnList" />
    from district
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer" >
    delete from district
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengshang.xiaodianbao.base.entity.District" >
    insert into district (id, name, short_name, 
      parent_id, city_level, zone_num, 
      post_code, xz_code, pinyin, 
      quanpin, create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{cityLevel,jdbcType=CHAR}, #{zoneNum,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=CHAR}, #{xzCode,jdbcType=CHAR}, #{pinyin,jdbcType=VARCHAR}, 
      #{quanpin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPK" parameterType="com.fengshang.xiaodianbao.base.entity.District" >
    update district
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="cityLevel != null" >
        city_level = #{cityLevel,jdbcType=CHAR},
      </if>
      <if test="zoneNum != null" >
        zone_num = #{zoneNum,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null" >
        post_code = #{postCode,jdbcType=CHAR},
      </if>
      <if test="xzCode != null" >
        xz_code = #{xzCode,jdbcType=CHAR},
      </if>
      <if test="pinyin != null" >
        pinyin = #{pinyin,jdbcType=VARCHAR},
      </if>
      <if test="quanpin != null" >
        quanpin = #{quanpin,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="id" parameterType="com.fengshang.xiaodianbao.base.entity.District" >
    insert into district (id, name, short_name, 
      parent_id, city_level, zone_num, 
      post_code, xz_code, pinyin, 
      quanpin, create_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{cityLevel,jdbcType=CHAR}, #{zoneNum,jdbcType=VARCHAR}, 
      #{postCode,jdbcType=CHAR}, #{xzCode,jdbcType=CHAR}, #{pinyin,jdbcType=VARCHAR}, 
      #{quanpin,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into district
		(id,name,short_name,parent_id,city_level,zone_num,post_code,xz_code,pinyin,quanpin,create_time)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.id,jdbcType=INTEGER},#{item.name,jdbcType=VARCHAR},#{item.shortName,jdbcType=VARCHAR},#{item.parentId,jdbcType=INTEGER},#{item.cityLevel,jdbcType=CHAR},#{item.zoneNum,jdbcType=VARCHAR},#{item.postCode,jdbcType=CHAR},#{item.xzCode,jdbcType=CHAR},#{item.pinyin,jdbcType=VARCHAR},#{item.quanpin,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP})
	</foreach>
  </insert>
  <delete id="batchDel" >
    		delete from district
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </delete>
  <update id="updateStatus" >
    		update district
			set ${statusColName} = #{delStatusVal, jdbcType=INTEGER}
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </update>
  <select id="findByPks" resultMap="BaseResultMap" >
    		select 
			<include refid="BaseColumnList" />
			from district
			where id in 
				<foreach collection="pks" item="item" separator="," open="(" close=")"> 
					#{item,jdbcType=INTEGER}
				</foreach>
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
		<include refid="BaseColumnList"/>
	from district
	<where>
		<trim suffixOverrides="and" >
			<if test="id != null and id > 0" >
				and id = #{id,jdbcType=INTEGER}
			</if>
			<if test="name != null and name != ''" >
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="shortName != null and shortName != ''" >
				and short_name = #{shortName,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null and parentId > 0" >
				and parent_id = #{parentId,jdbcType=INTEGER}
			</if>
			<if test="cityLevel != null and cityLevel != ''" >
				and city_level = #{cityLevel,jdbcType=CHAR}
			</if>
			<if test="zoneNum != null and zoneNum != ''" >
				and zone_num = #{zoneNum,jdbcType=VARCHAR}
			</if>
			<if test="postCode != null and postCode != ''" >
				and post_code = #{postCode,jdbcType=CHAR}
			</if>
			<if test="xzCode != null and xzCode != ''" >
				and xz_code = #{xzCode,jdbcType=CHAR}
			</if>
			<if test="pinyin != null and pinyin != ''" >
				and pinyin = #{pinyin,jdbcType=VARCHAR}
			</if>
			<if test="quanpin != null and quanpin != ''" >
				and quanpin = #{quanpin,jdbcType=VARCHAR}
			</if>
			<!--<if test="queryParam != null">
				<if test="queryParam.startDate != null and queryParam.startDate != '' and queryParam.endDate != null and queryParam.endDate != ''">
					and create_time between #{queryParam.startDate, jdbcType=VARCHAR} and #{queryParam.endDate, jdbcType=VARCHAR}
				</if>
				<if test="queryParam.keyword != null and queryParam.keyword != ''">
					and (name like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') or other_col like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') )
				</if>
			</if>-->
		</trim>
	</where>
  </select>
</mapper>