<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengshang.xiaodianbao.uc.dao.WxUserExtraDao" >
  <resultMap id="BaseResultMap" type="com.fengshang.xiaodianbao.uc.entity.WxUserExtra" >
    <id column="wx_uid" property="wxUid" jdbcType="INTEGER" />
    <result column="country_id" property="countryId" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="INTEGER" />
    <result column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="county_id" property="countyId" jdbcType="INTEGER" />
    <result column="detail_addr" property="detailAddr" jdbcType="VARCHAR" />
    <result column="lng" property="lng" jdbcType="DOUBLE" />
    <result column="lat" property="lat" jdbcType="DOUBLE" />
    <result column="serv_msg" property="servMsg" jdbcType="CHAR" />
    <result column="sms_msg" property="smsMsg" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_uptime" property="lastUptime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="BaseColumnList" >
    wx_uid, country_id, province_id, city_id, county_id, detail_addr, lng, lat, serv_msg, 
    sms_msg, create_time, last_uptime
  </sql>
  <select id="findByPK" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="BaseColumnList" />
    from wx_user_extra
    where wx_uid = #{wxUid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPK" parameterType="java.lang.Integer" >
    delete from wx_user_extra
    where wx_uid = #{wxUid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengshang.xiaodianbao.uc.entity.WxUserExtra" >
    insert into wx_user_extra (wx_uid, country_id, province_id, 
      city_id, county_id, detail_addr, 
      lng, lat, serv_msg, sms_msg, 
      create_time, last_uptime)
    values (#{wxUid,jdbcType=INTEGER}, #{countryId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{countyId,jdbcType=INTEGER}, #{detailAddr,jdbcType=VARCHAR}, 
      #{lng,jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE}, #{servMsg,jdbcType=CHAR}, #{smsMsg,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPK" parameterType="com.fengshang.xiaodianbao.uc.entity.WxUserExtra" >
    update wx_user_extra
    <set >
      <if test="countryId != null" >
        country_id = #{countryId,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="countyId != null" >
        county_id = #{countyId,jdbcType=INTEGER},
      </if>
      <if test="detailAddr != null" >
        detail_addr = #{detailAddr,jdbcType=VARCHAR},
      </if>
      <if test="lng != null" >
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DOUBLE},
      </if>
      <if test="servMsg != null" >
        serv_msg = #{servMsg,jdbcType=CHAR},
      </if>
      <if test="smsMsg != null" >
        sms_msg = #{smsMsg,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUptime != null" >
        last_uptime = #{lastUptime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wx_uid = #{wxUid,jdbcType=INTEGER}
  </update>
  <insert id="insertReturnPK" useGeneratedKeys="true" keyProperty="wxUid" parameterType="com.fengshang.xiaodianbao.uc.entity.WxUserExtra" >
    insert into wx_user_extra (wx_uid, country_id, province_id, 
      city_id, county_id, detail_addr, 
      lng, lat, serv_msg, sms_msg, 
      create_time, last_uptime)
    values (#{wxUid,jdbcType=INTEGER}, #{countryId,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{countyId,jdbcType=INTEGER}, #{detailAddr,jdbcType=VARCHAR}, 
      #{lng,jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE}, #{servMsg,jdbcType=CHAR}, #{smsMsg,jdbcType=CHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{lastUptime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertBatch" parameterType="java.util.List" >
    insert into wx_user_extra
		(wx_uid,country_id,province_id,city_id,county_id,detail_addr,lng,lat,serv_msg,sms_msg,create_time,last_uptime)
	values 
	<foreach collection="list" item="item" separator="," index="index">
		(#{item.wxUid,jdbcType=INTEGER},#{item.countryId,jdbcType=INTEGER},#{item.provinceId,jdbcType=INTEGER},#{item.cityId,jdbcType=INTEGER},#{item.countyId,jdbcType=INTEGER},#{item.detailAddr,jdbcType=VARCHAR},#{item.lng,jdbcType=DOUBLE},#{item.lat,jdbcType=DOUBLE},#{item.servMsg,jdbcType=CHAR},#{item.smsMsg,jdbcType=CHAR},#{item.createTime,jdbcType=TIMESTAMP},#{item.lastUptime,jdbcType=TIMESTAMP})
	</foreach>
  </insert>
  <delete id="batchDel" >
    		delete from wx_user_extra
			where wx_uid in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </delete>
  <update id="updateStatus" >
    		update wx_user_extra
			set ${statusColName} = #{delStatusVal, jdbcType=INTEGER}
			where wx_uid in 
				<foreach collection="pks" item="item" separator="," open="(" close=")">
				#{item,jdbcType=INTEGER}
			</foreach>
  </update>
  <select id="findByPks" resultMap="BaseResultMap" >
    		select 
			<include refid="BaseColumnList" />
			from wx_user_extra
			where wx_uid in 
				<foreach collection="pks" item="item" separator="," open="(" close=")"> 
					#{item,jdbcType=INTEGER}
				</foreach>
  </select>
  <select id="findAll" resultMap="BaseResultMap" >
    select
		<include refid="BaseColumnList"/>
	from wx_user_extra
	<where>
		<trim suffixOverrides="and" >
			<if test="wxUid != null and wxUid > 0" >
				and wx_uid = #{wxUid,jdbcType=INTEGER}
			</if>
			<if test="countryId != null and countryId > 0" >
				and country_id = #{countryId,jdbcType=INTEGER}
			</if>
			<if test="provinceId != null and provinceId > 0" >
				and province_id = #{provinceId,jdbcType=INTEGER}
			</if>
			<if test="cityId != null and cityId > 0" >
				and city_id = #{cityId,jdbcType=INTEGER}
			</if>
			<if test="countyId != null and countyId > 0" >
				and county_id = #{countyId,jdbcType=INTEGER}
			</if>
			<if test="detailAddr != null and detailAddr != ''" >
				and detail_addr = #{detailAddr,jdbcType=VARCHAR}
			</if>
			<if test="servMsg != null" >
				and serv_msg = #{servMsg,jdbcType=CHAR}
			</if>
			<if test="smsMsg != null" >
				and sms_msg = #{smsMsg,jdbcType=CHAR}
			</if>
			<!--<if test="queryParam != null">
				<if test="queryParam.startDate != null and queryParam.startDate != '' and queryParam.endDate != null and queryParam.endDate != ''">
					and create_time between #{queryParam.startDate, jdbcType=VARCHAR} and #{queryParam.endDate, jdbcType=VARCHAR}
				</if>
				<if test="queryParam.keyword != null and queryParam.keyword != ''">
					and (name like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') or other_col like concat('%', #{queryParam.keyword, jdbcType=VARCHAR}, '%') )
				</if>
			</if>-->
		</trim>
	</where>
  </select>
</mapper>