<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
	<context:component-scan base-package="com.fengshang.bole"
		use-default-filters="false" scoped-proxy="targetClass">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

    <mvc:annotation-driven>
      <mvc:message-converters register-defaults="true">
        <bean class="org.springframework.http.converter.StringHttpMessageConverter"> 
            <constructor-arg value="UTF-8" />        
        </bean>
        <!-- <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="objectMapper">
                <bean class="com.github.miemiedev.mybatis.paginator.jackson2.PageListJsonMapper" />
            </property>
        </bean> -->
      </mvc:message-converters>
    </mvc:annotation-driven>
    
    <mvc:resources location="/" mapping="/static/**"/>

	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="1" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html" />
				<entry key="json" value="application/json" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
			</list>
		</property>
	</bean>
	<!-- freemarker的配置 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<property name="defaultEncoding" value="utf-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">10</prop>
				<prop key="locale">zh_CN</prop>
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop><!-- 时间格式化 -->
				<prop key="date_format">yyyy-MM-dd</prop>
				<prop key="number_format">#.##</prop>
			</props>
		</property>
		<!-- <property name="freemarkerVariables">
            <map>
            	 <entry key="Value" value-ref="Value"/>
                <entry key="ValueMap" value-ref="ValueMap"/>
                <entry key="NRSubmit" value-ref="NRSubmit"/>
                <entry key="LinkNRSubmit" value-ref="LinkNRSubmit"/>
            </map>
        </property>  -->
	</bean>

	<!--视图解释器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="suffix">
			<value>.html</value>
		</property>
		<property name="contentType" value="text/html;charset=UTF-8"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- one of the properties available; the maximum file size in bytes -->
		<property name="maxUploadSize" value="83886080" /><!-- 80M -->
		<property name="maxInMemorySize" value="2048" />
	</bean>
	
	<!-- <bean id="excludeUrlSet" class="java.util.TreeSet">
	  <constructor-arg>
	    <set>
            <value>/error/**</value>
            <value>/data/sync/**</value>
            <value>/sys/port/loginPage.do</value>
            <value>/sys/port/doLogon.do</value>
            <value>/sys/port/doLogout.do</value>
            <value>/sys/port/loadMenu.do</value>
            <value>/sys/port/welcome.do</value>
        </set>
	  </constructor-arg>
	</bean>
	
	 <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.ujigu.secure.web.filter.LoginInterceptor">
              <property name="excludeUrls" ref="excludeUrlSet"/>              
            </bean>
        </mvc:interceptor> 
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/sys/port/index.do"/>
            <mvc:exclude-mapping path="/sys/port/loadMenu.do"/>
            <mvc:exclude-mapping path="/sys/port/welcome.do"/>
            <bean class="com.ujigu.secure.sys.interceptor.AccessInterceptor">
              <property name="excludeUrls" ref="excludeUrlSet"/>
            </bean>
        </mvc:interceptor>
     </mvc:interceptors>
     -->
</beans>
