<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 页面使用示例(也可以参看role.html页面的使用方法)： <#assign status=Value("common_status", 
		"-1")> //定义变量 ${status!} //输出变量 -->

	<bean id="dataDictService" class="com.ujigu.secure.web.common.service.DataDictService">
		<!-- <property name="loaders">
			<list>
				<bean class="com.ujigu.secure.web.common.service.dictloader.TableDataDictLoader">
					<property name="dataSource" ref="dataSource" />
					<property name="tableName" value="site" />
					<property name="nsAlias" value="site_id_name" />
					<property name="keyName" value="id" />
					<property name="valueName" value="name" />
					<property name="condSql" value="status = 'NORMAL'" />
					<property name="refreshTime" value="86400" />
				</bean>
			</list>
		</property> -->
	</bean>

	<bean id="commonHeaderService" class="com.ujigu.secure.web.common.service.CommonHeaderService" />
</beans>
